# APP SETTINGS
APP_PREFIX="/api/v1"
APP_HOST="0.0.0.0"
APP_PORT=8000
APP_LOG_LEVEL="INFO"
APP_SECRET_KEY="YOUR_SECRET_KEY"
APP_ALGORITHM="HS256"
APP_ACCESS_EXPIRE_DAYS=30
APP_BROKER_URL="redis://:password@redis:6379/0"
APP_CACHE_URL="redis://:password@redis:6379/1"
APP_SUBJECT="Academy Cloud"
APP_SUPERUSER_ROLE_ID=2
APP_MANAGER_ROLE_ID=3

# SMTP Server
APP_SMTP_SERVER = "smtp.example.ru"
APP_SMTP_PORT = 465
APP_SMTP_LOGIN = "your login"
APP_SMTP_PASSWORD = "your password"
SMTP_TOKEN_EXPIRE_DAYS=0.5

# DATABASE SETTINGS
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASS=root
DB_NAME=db
