<!DOCTYPE html>
<html>
<head>
    <title>Academy Cloud</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 80%;
            margin: auto;
            text-align: center;
        }

        #ps {
            color: grey;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="{{ logo_path }}">
        <h2>Academy Cloud</h2>
        <p>
            {{ main_text }}
        </p>
    </div>
</body>
</html>
